<div class="container">
  <div class="row">
    <div id="coverphoto" class="col-md-9 col-sm-9 col-xs-9 pull-left row">
      <img src="/assets/DSC_0005.jpg" class="bg-photo"/>
      <div id="profilephoto" class="pull-left">
        <img src="/assets/SLCPunk.jpg" />
      </div>
      <p id="displayname" class="pull-left">
        Matthew Lillard
      </p>
      <a href="#" class="friend clearfix"><span class="icon pull-left"></span>Add Friend &nbsp;</a>
    </div>
  </div>
  <div class="row">

    <div id="leftcol" class="col-md-3 col-xs-9 clearfix">
      <div class="component-left">
        <h4>Intro</h4>
        <ul>
          <li>Works at</li>
          <li>Lives in <%= @user%></li>
          <li>From <%#= @users.from_city +" " + @user.from_state%></li>
        </ul>
      </div>
      <div class="component-left">
        <h4><span class="friendsheader pull-left"></span>Friends</h4>
        <table>
          <tr>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
          </tr>
          <tr>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
          </tr>
          <tr>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
            <td valign="bottom">
              <div class="wrapper">
                <span>Stevo</span>
                <img src="/assets/SLCPunk.jpg" />
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="rightcol" class=" col-md-6 col-xs-9 clearfix">
      <div class="component-right">
        <form action="#" method="post">
          <h4>Post to Wall</h4>
          <textarea placeholder="Message"></textarea>
          <input type="text" name="Link" placeholder="Link"/>
          <input type="file" name="photo" />
          <button type="submit" class="btn pull-right">Post</button>
        </form>
      </div>
      <div class="component-right">
        <div class="postby"><a href="">Matthew Lillard</a></div>
        <div class="postdatetime">June 18 at 5:40PM</div>
        <p class="postmessage">
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
        </p>
      </div>
      <div class="component-right">
        <div class="postby"><a href="">Matthew Lillard</a></div>
        <div class="postdatetime">June 18 at 5:40PM</div>
        <p class="postmessage">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        </p>
      </div>
      <div class="component-right">
        <div class="postby"><a href="">Matthew Lillard</a></div>
        <div class="postdatetime">June 18 at 5:40PM</div>
        <p class="postmessage">
          The quick, brown fox jumps over a lazy dog.
        </p>
      </div>
    </div>
  </div>
</div>
